/** 
 * Generic
 */
html {
  font-size: $typographic-root-font-size;
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #000;
  font-family: $typographic-font-family;
  color: $typographic-base-font-color;
  line-height: $typographic-base-line-height;
  font-size: $typographic-base-font-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $typographic-font-family;
  font-weight: 600;
}

h1 {
  font-size: $typographic-base-font-size * 2.5;
  @include line-height(2);
  @include margin-top(4);
  @include margin-bottom(1);
}

h2 {
  font-size: $typographic-base-font-size * 1.6875;
  @include line-height(1.5);
  @include margin-top(2);
  @include margin-bottom(.5);
}

h3 {
  font-size: $typographic-base-font-size * 1.375;
  @include line-height(1);
  @include margin-top(2);
  @include margin-bottom(.5);
}

h4 {
  font-size: $typographic-base-font-size * 1.2;
  @include line-height(1);
  @include margin-top(1.5);
  @include margin-bottom(.5);
}

h5 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(.5);
}

h6 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(.5);
}

img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

hr {
  margin-top: 52px;
  margin-bottom: 52px;
  border: 0;
  color: $color-base;
  display: block;
  height: 26px;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, $color-base 11px, $color-base 15px, transparent 15px, transparent 26px);
  width: 100px;
}

a {
  color: $typographic-link-p-font-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $typographic-link-s-font-color;
  }

}

b,
strong {
  font-weight: 600;
}

ul {
  list-style: square;
  @include margin-bottom(1);

  & li {
    padding: 0 5px;
    margin-bottom: 10px;
  }

}

p {
  @include line-height(1);
  @include margin-bottom(1);
}

blockquote {
  padding: 0;
  font-style: italic;
  text-align: center;
}

figure {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  @include line-height(.75);
  @include margin-top(.25);
  color: $color-base;
  font-size: $typographic-small-font-size;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.anchor {
  margin-left: -30px !important;
  padding-right: 14px !important;
}

@include breakpoint-sm {
  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }
}

@include breakpoint-lg {
  .App {
    margin-left: 5em;
    margin-right: 5em;
  }
}

/*
 * Body & Structure
 */

.App {
  color: white;
  margin-left: 2em;
  margin-right: 2em;
}

.loader {
  color: white;
  width: 100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/*
 * Helpers
 */

.loading {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: bold;
}

/*
 * Content
 */

.Hero-contact > div .svg {
  width: 20px;
}

.Hero-contact > div svg{
  fill: red;
  fill-opacity: .5;
}

.Scroll {
  position: relative;
  margin-top: 100px;
}

.Scroll h3 {
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 14px;
}

.Scroll .Entry > h4 {
  font-size: 42px;
  color: #860404;
  opacity: 0.5;
  margin-bottom: .2em;
}

.Scroll .Entry-from > h5 {
  margin: 0;
  font-style: italic;
}

.Scroll > .Footer {
  margin-top: 6.66666667rem;
  font-size: .8rem;
}

.Scroll > .Footer > p {
  margin: 2rem 0;
  font-size: 12px;
  text-transform: uppercase;
}

.Skillset {
  margin-bottom: 100px;
}

@media (min-width: 980px) {
  .Scroll {
    position: relative;
    margin-left: 50%;
    margin-top: 25vh;
  }
}
