@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.hero {
    position: relative;
    margin-top: 3.33rem;
    color: $color-primary;
    font-weight: 300;
    &__inner {
        position: relative;
        padding: 25px 20px 0;
    }
    &__intro {
      p {
        margin-top: 0;
      }
      @extend %Column;
    }

    &__row {
      @extend %Row;
    }
}

@include breakpoint-lg {
  .hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    margin-top: 0;
    padding-left: 5rem;
    padding-bottom: 5rem;
    color: #FF6347;
    
    &__intro {
      margin-top: 25vh;
    }
  }
}
